{% extends "home.html" %}
{% load i18n admin_static admin_list %}
{% load admin_urls %}
{% load endless %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}" />
  {% if cl.formset %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
  {% endif %}
  {% if cl.formset or action_form %}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
  {% endif %}
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {width: inherit}
    </style>
  {% endif %}
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
{% if action_form %}{% if actions_on_top or actions_on_bottom %}
<script type="text/javascript">
(function($) {
    $(document).ready(function($) {
        $("tr input.action-select").actions();
    });
})(django.jQuery);
</script>
{% endif %}{% endif %}
{% endblock %}

{% block bodyclass %}change-list{% endblock %}


{% block coltype %}flex{% endblock %}

{% block content %}

  <div id="post_listing">
      <h1> {{ post.job_title }} at {{ post.company }} </h1>
      <h4> {{ post.review_type }} review submitted on {{ post.created }} </h4>
      <b> Comments </b> <br/>
      <p> {{ post.comments|linebreaks }} </p>
      <p> {{ post.overall_experience }} experience </p>
      <a href="{% url 'report-post' post_id=post.id %}"> Report this! </a>
      <a href="{% url 'respond-to-post' post_id=post.id %}"> Submit response </a>
      <br />
   <div id="user_message">
     {% if messages %}
     {% for message in messages %}
        {{ message }}
     {% endfor %}
     {% endif %}
   </div>
   <h2> User Responses </h2>
   <div id="post_responses">
   {% paginate post_responses %}
   {% for post_response in post_responses %}
       <h4> submitted on {{ post_response.created }} </h4>
       {{ post_response.comments }}
       <hr />
   {% endfor %}
   {% show_pages %}
   </div>
  </div>
{% endblock %}

