<div class="home_page_text">
  <h3> Hello 
    {% if user.is_authenticated %}
        {{ user.first_name }}
    {% else %}
        {{ '!' }}
    {% endif %}
  </h3>
  <h3>
    Welcome to Careermate! A website where you can view reviews about job interviews, offers and employers.
  </h3>
  <p>
    Please clicks on the View listings link on the navigation at the top to view all review submitted by other users.
    You can filter reviews based on city, state, company or job title you are interested in. You can submit a review too.
  </p>
  <p>
    We hope the information on careermate proves helpful to you. 
  </p>
  <p>
    Thanks, <br/>
    Careermate team.
  </p>
</div>
