.centered {
  margin: 0 auto;
  width: 970px;
  border:1px solid;
  background-color: #F1FFFF;
}

#navbar{
    height: 40px;
    background-color: #80C9EA;
}

#navbar ul {
    margin: 0;
    padding: 10px;
    list-style: none;
    width: 100%;
    display: block;
    float: left;
}

#navbar ul li {
    float: left;
    margin: 0 10px 0 0;
    padding: 0 10px;
}

#navbar ul li a {
    text-decoration: none;
    color: #246488;
    font-size: 16px;
    font-family: Trebuchet MS;
}

#navbar ul li a:hover {
    font-weight: bold;
}

div.home_page_text {
  padding-left: 10px;
  width: 965px;
  margin-top: 30px;
}

div.home_page_text h3 {
  font-style:italic;
  font-family: Gabriola;
  font-size: 24px;
}

div.home_page_text p {
  font-family: Century;
  font-size: 16px;
}

footer {
  background-color: #3A93BD;
  padding: 5px 5px 5px 5px;
}

footer p {
  text-align: center;
  font-family: Century;
  font-size: 14px;
  font-weight: bold;
  font-style:italic;
  color: #D8F9FF;
}

.errornote{
  font-size: 14px;
  margin-bottom: 0px;
  margin-left: 30px;
  color: red;
}

label{
  width: 160px;
  float: left;
  text-align: left;
  margin-right: 0.5em;
  display: block;
  font-family: Century;
}

.form_content{
  padding: 20px 0px 25px 35px;
}

input[type=text]{
  width: 300px;
}

select{
  width: 300px;
}

.suggest_text{
  border: 1px;
  border-radius: 25px;
  float: right;
  width: 300px;
  margin-right: 45px;
  margin-top: 80px;
  padding: 15px 15px 15px 15px;
  text-align: justify;
  background-color: #B7EAFF;
  font-family: Century;
  font-size: 12px;
  padding-left: 15px;
}

.suggest_text li{
  padding: 10px;
}

input[type=submit]{
  width: 100px;
  margin-left: 225px;
}

input[type=password]{
  width:300px;
}

#auth_form{
  padding: 25px 0px 20px 15px;
}

.errorlist{
  font-size: 10px;
  color: red;
  margin-left: 150px;
}

.concise_post_title{
  margin-left: 65px;
}

#post_listing{
  padding: 25px 100px 20px 15px;
  color: #104F72;
}

#post_listing a{
  margin-right: 15px;
}

#post_listing h1{
  padding: 20px 0px 2px 0px;
  font-size: 20px;
  line-height: 2px;
}

#post_listing h4{
  padding-bottom: 5px;
  font-size: 13px;
  font-weight: 100;
  line-height: 2px;
}

#add_review_heading{
  padding: 25px 0px 10px 325px;
  font-size: 20px;
  line-height: 2px;
  color: #104F72;
}

.report_suggest_text{
  border: 1px;
  border-radius: 25px;
  float: right;
  width: 300px;
  margin-right: 45px;
  margin-top: 170px;
  padding: 15px 15px 15px 15px;
  text-align: justify;
  background-color: #B7EAFF;
  font-family: Century;
  font-size: 12px;
  padding-left: 15px;
}

.response_suggest_text{
  border: 1px;
  border-radius: 25px;
  float: right;
  width: 300px;
  margin-right: 45px;
  margin-top: 175px;
  padding: 15px 15px 15px 15px;
  text-align: justify;
  background-color: #B7EAFF;
  font-family: Century;
  font-size: 12px;
  padding-left: 15px;
}

#post_filter{
 margin-top: 25px;
}

#post_filter label{
  display: none;
}

#post_filter input[type=text]{
  border-radius: 20px;
  margin-left: 10px;
  width: 150px;
  font-size: 12px;
  line-height: 18px;
  float: left;
}

#post_filter select{
  width: 150px;
  font-size: 22px;
  margin-left: 15px;
  float: left;
}

#post_filter input[type=submit]{
  margin-left: 10px;
  font-size: 2em;
}
