.centered {
  margin: 0 auto;
  width: 1000px;
  border:1px solid;
  background-color: #FDFDFB;
}

#navbar{
    height: 40px;
    background-color: #515055;
}

#navbar ul {
    margin: 0;
    padding: 10px;
    list-style: none;
    width: 100%;
    display: block;
    float: left;
}

#navbar ul li {
    float: left;
    margin: 0 10px 0 0;
    padding: 0 10px;
}

#navbar ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-family: Webdings;
}

#navbar ul li a:hover {
    font-weight: bold;
}

div.home_page_text {
  padding-left: 10px;
  width: 965px;
  margin-top: 30px;
}

div.home_page_text h2 {
  font-family: Gabriola;
  font-size: 22px;
}

div.home_page_text h3 {
  font-family: Gabriola;
  font-size: 23px;
}

div.home_page_text p {
  font-family: Century;
  font-size: 16px;
}

footer {
  background-color: #242426; 
  padding: 5px 5px 5px 5px;
}

footer p {
  text-align: center;
  font-family: Webdings;
  font-size: 14px;
  font-weight: bold;
  font-style:italic;
  color: #FFFFFF;
}

.errornote{
  font-size: 14px;
  margin-bottom: 0px;
  margin-left: 30px;
  color: red;
}

label{
  font-size: 14px;
  width: 160px;
  float: left;
  text-align: left;
  margin-right: 0.5em;
  display: block;
  font-family: Webdings;
}

.form_content{
  padding: 20px 0px 25px 35px;
}

input[type=text]{
  width: 300px;
}

select{
  width: 300px;
}

.suggest_text{
  line-height: 15px;
  border: 1px;
  border-radius: 25px;
  float: right;
  width: 300px;
  margin-right: 70px;
  margin-top: 90px;
  padding: 15px 15px 15px 15px;
  text-align: justify;
  background-color: #E4E4E4;
  font-family: Century;
  font-size: 12px;
  padding-left: 15px;
}

.suggest_text li{
  padding: 10px;
}

input[type=submit]{
  width: 100px;
  margin-left: 225px;
  background-color: #3C3D42;
  color: #FFFFFF;
  border-radius: 20px;
}

input[type=password]{
  width:300px;
}

#auth_form{
  padding: 25px 0px 20px 15px;
}

.errorlist{
  font-size: 10px;
  color: red;
  margin-left: 150px;
}

.concise_post_title{
  margin-left: 35px;
  padding: 0px 100px 0px 0px;
}

.concise_post_title h1{
  padding: 20px 0px 0px 0px;
  font-size: 20px;
  line-height: 2px;
}

.concise_post_title h4{
  padding-bottom: 5px;
  font-size: 13px;
  font-weight: 100;
  line-height: 2px;
}

#post_listing{
  padding: 20px 100px 20px 15px;
  color: #000000; 
}

#post_listing hr{
  margin-top: 20px;
}

#post_listing h1{
  padding: 20px 0px 0px 0px;
  font-size: 20px;
  line-height: 2px;
}

#post_listing a{
  padding: 0px 0px 0px 10px;
  font-size: 14px;
  font-weight: bold;
  line-height: 2px;
}

#post_listing h2{
  padding: 15px 0px 5px 30px;
  font-size: 17px;
  line-height: 2px;
}

#post_responses{
  border: 1px;
  background-color: #E4E4E4;
  border-radius: 25px; 
  margin-left: 25px;
  padding: 10px 70px 20px 30px;
}

#post_responses hr{
  border-color: #515055;
  width: 730px;
}

.post_location{
  color: #000000;
  font-size: 20px;
  line-height: 10px;    
}

#post_listing h4{
  padding-bottom: 5px;
  font-size: 13px;
  font-weight: 100;
  line-height: 2px;
}

#add_review_heading{
  padding: 25px 0px 10px 325px;
  font-size: 20px;
  line-height: 2px;
  color: #000000;
}

.report_suggest_text{
  border: 1px;
  border-radius: 25px;
  float: right;
  width: 300px;
  margin-right: 45px;
  margin-top: 162px;
  padding: 15px 15px 15px 15px;
  text-align: justify;
  background-color: #E4E4E4;
  font-family: Century;
  font-size: 13px;
  padding-left: 15px;
  line-height: 18px;
}

.response_suggest_text{
  border: 1px;
  border-radius: 25px;
  float: right;
  width: 300px;
  margin-right: 45px;
  margin-top: 167px;
  padding: 15px 15px 15px 15px;
  text-align: justify;
  background-color: #E4E4E4;
  font-family: Century;
  font-size: 12px;
  padding-left: 15px;
}

#post_filter{
 margin-top: 25px;
}

#post_filter label{
  display: none;
}

#post_filter input[type=text]{
  border-radius: 20px;
  margin-left: 10px;
  width: 150px;
  font-size: 12px;
  line-height: 18px;
  float: left;
}

#post_filter select{
  width: 150px;
  line-height: 16px;
  font-size: 14px;
  margin-left: 15px;
  float: left;
}

#post_filter input[type=submit]{
  margin-left: 10px;
  font-size: 12px;
  background-color: #3C3D42;
  color: #FFFFFF;
  border-radius: 20px;
}

.endless_page_link{
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0px 15px 15px;
}

.endless_page_current{
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0px 15px 15px;
}

.form_content input[type=submit]
{
  line-height: 20px;
  margin-top: 35px;
  margin-left: 270px;
  border-radius: 20px;
  background-color: #3C3D42;
  color: #FFFFFF;
}

.report_form_content{
  padding: 20px 0px 25px 35px;
}

.report_form_content input[type=submit]
{
  font-size: 13px;
  width: 100px;
  line-height: 18px;
  margin-top: 35px;
  margin-left: 260px;
  background-color: #3C3D42;
  color: #FFFFFF;
  border-radius: 20px;
}

.response_form_content{
  padding: 20px 0px 25px 35px;
}

#back_button{
  padding: 30px 0px 0px 32px;
}


.response_form_content input[type=submit]
{
  font-size: 12px;
  width: 100px;
  line-height: 18px;
  margin-top: 35px;
  margin-left: 265px;
  background-color: #3C3D42;
  color: #FFFFFF;
  border-radius: 20px;
}

.response_form_content input[type=checkbox]
{ 
  margin-top: 30px;
}

#user_message{
  padding: 35px 0px 0px 30px;
  font-size: 15px;
  font-weight: bold;
  color: #65AB14;
}

#offline_content_warning{
  padding: 10px 0px 0px 20px;
}

#offline_content_warning h4{
  font-size: 15px;
  font-weight: bold;
  color: red;  
}

